* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#sub-container {
  max-width: 900px;
  margin: 0 auto;
}
#sub-container #header {
  padding-top: 16px;
}
#sub-container #header #header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sub-container #header #header-nav #header-nav__logo-content #header-nav__logo {
  font-size: 2rem;
}
#sub-container #header #header-nav .header-nav__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
#sub-container #header #header-nav .header-nav__list .header-nav__item .header-nav__link {
  text-decoration: none;
}
#sub-container #main {
  display: flex;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
#sub-container #main .main-image__content {
  min-width: 450px;
}
#sub-container #main .main-image__content .main-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#sub-container #main .main-product__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
#sub-container #main .main-product__content .main-product__title {
  font-size: 2em;
}
#sub-container #main .main-product__content .main-product__info-content {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
}
#sub-container #main .main-product__content .main-product__info-content .main-product__info {
  color: #000;
}
#sub-container #main .main-product__content .color-container .color-title {
  margin-bottom: 10px;
}
#sub-container #main .main-product__content .color-container .color-list {
  margin-left: 10px;
  display: flex;
  gap: 30px;
  list-style: none;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item .color-list__link {
  border-radius: 100%;
  display: block;
  width: 25px;
  height: 25px;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item #red {
  background-color: #f00;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item #yellow {
  background-color: #ff0;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item #blue {
  background-color: #00f;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item #green {
  background-color: #080;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item #black {
  background-color: #000;
}
#sub-container #main .main-product__content .size-container {
  width: 100%;
}
#sub-container #main .main-product__content .size-container .size-title {
  margin-bottom: 10px;
}
#sub-container #main .main-product__content .size-container .size-list {
  margin-left: 4px;
  display: flex;
  gap: 17px;
  list-style: none;
}
#sub-container #main .main-product__content .size-container .size-list .size-item .size-item__link {
  display: block;
  padding: 6px 14px;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
}
#sub-container #main .main-product__content .buys-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
#sub-container #main .main-product__content .buys-container .buys-add__content .buys-add {
  display: block;
  padding: 10px 40px;
  background-color: #00f;
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
}
#sub-container #main .main-product__content .buys-container .buys-price__content .buys-price {
  font-size: 2.3em;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
