* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#sub-container {
  max-width: 900px;
  margin: 0 auto;
}
#sub-container #header {
  padding-top: 16px;
}
#sub-container #header #header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sub-container #header #header-nav #header-nav__logo-content #header-nav__logo {
  font-size: 2rem;
}
#sub-container #header #header-nav .header-nav__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
#sub-container #header #header-nav .header-nav__list .header-nav__item .header-nav__link {
  text-decoration: none;
}
#sub-container #main {
  display: flex;
  height: 500px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -1px #e9e9e9;
  overflow: hidden;
}
#sub-container #main .main-image__content {
  min-width: 450px;
}
#sub-container #main .main-image__content .main-image {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#sub-container #main .main-product__content {
  padding: 30px;
}
#sub-container #main .main-product__content .main-product__title {
  font-size: 2em;
  margin-bottom: 20px;
}
#sub-container #main .main-product__content .main-product__info-content {
  box-shadow: 0 0 10px -1px #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
}
#sub-container #main .main-product__content .main-product__info-content .main-product__info {
  color: #000;
}
#sub-container #main .main-product__content .color-container {
  margin: 20px 10px;
}
#sub-container #main .main-product__content .color-container .color-title {
  margin-bottom: 10px;
}
#sub-container #main .main-product__content .color-container .color-list {
  margin-left: 10px;
  display: flex;
  gap: 30px;
  list-style: none;
}
#sub-container #main .main-product__content .color-container .color-list .color-list__item {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
#sub-container #main .main-product__content .color-container .color-list #red {
  background-color: #f00;
}
#sub-container #main .main-product__content .color-container .color-list #yellow {
  background-color: #ff0;
}
#sub-container #main .main-product__content .color-container .color-list #blue {
  background-color: #00f;
}
#sub-container #main .main-product__content .color-container .color-list #green {
  background-color: #080;
}
#sub-container #main .main-product__content .color-container .color-list #black {
  background-color: #000;
}
#sub-container #main .main-product__content .size-container {
  width: 100%;
  margin: 0 10px 20px 10px;
}
#sub-container #main .main-product__content .size-container .size-title {
  margin-bottom: 10px;
}
#sub-container #main .main-product__content .size-container .size-list {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#sub-container #main .main-product__content .size-container .size-list .size-item {
  padding: 6px 14px;
  border-radius: 10px;
  box-shadow: 0 0 10px -1px #d1d1d1;
}
#sub-container #main .main-product__content .size-container .size-list .size-item .size-item__link {
  text-decoration: none;
}
#sub-container #main .main-product__content #line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
}

/*# sourceMappingURL=style.css.map */
