* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#sub-container {
  max-width: 900px;
  margin: 0 auto;

  #header {
    padding-top: 16px;

    #header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #header-nav__logo-content {
        #header-nav__logo {
          font-size: 2rem;
        }
      }
      .header-nav__list {
        display: flex;
        gap: 3rem;
        list-style: none;

        .header-nav__item {
          .header-nav__link {
            text-decoration: none;
          }
        }
      }
    }
  }

  .main {
    position: relative;
    display: flex;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;

    .picture {
      min-width: 450px;

      .picture-image {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .product-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;

      .product-title {
        font-size: 2em;
      }
      .product-info__content {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        height: 100px;

        .product-info__text {
          color: #000;
        }
      }
      .color-container {
        .color-title {
          margin-bottom: 10px;
        }
        .color-list {
          .color-list__form {
            margin-left: 10px;
            display: flex;
            gap: 30px;
            list-style: none;
            .color-form__item {
              .color-list__select {
                width: 25px;
                height: 25px;
                appearance: none;
                border-radius: 100%;
                cursor: pointer;
                &:checked {
                  border: 1px solid #000;
                }
              }
              #red {
                background-color: #f00;
              }
              #yellow {
                background-color: #ff0;
              }
              #blue {
                background-color: #00f;
              }
              #green {
                background-color: #080;
              }
              #black {
                background-color: #000;
              }
            }
          }
        }
      }

      .size-container {
        width: 100%;
        .size-title {
          margin-bottom: 10px;
        }
        .size-list {
          margin-left: 4px;
          display: flex;
          gap: 17px;
          list-style: none;

          .size-list__form {
            margin-left: 4px;
            display: flex;
            gap: 30px;
            list-style: none;
            .size-form__item {
              .size-list__select {
                cursor: pointer;
                appearance: none;
                width: 20px;
                height: 20px;
                background-color: #00f;
                &:checked {
                  border: 2px solid #000;
                }
              }
            }
          }
        }
      }

      .buys-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;

        .buys-add__content {
          #buys-add {
            all: unset;
            display: block;
            padding: 10px 40px;
            background-color: #00f;
            font-size: 1.3em;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
          }
        }

        .buys-price__content {
          .buys-price {
            font-size: 2.3em;
            user-select: none;
          }
        }
      }
    }
  }
}
