* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-shadow: inset 0 10px 30px #e9e9e9;
}

#sub-container {
  max-width: 800px;
  margin: 0 auto;

  #header {
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 2px #e9e9e9;
    #header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #header-nav__logo-content {
        #header-nav__logo {
          font-size: 2rem;
        }
      }
      .header-nav__list {
        display: flex;
        gap: 1rem;
        list-style: none;

        .header-nav__item {
          .header-nav__link {
            text-decoration: none;
          }
        }
      }
    }
  }
}
