@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #202022;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 2.5rem;
  overflow: hidden;

  #header {
    margin-top: 10px;
    #header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #header-nav__logo-content {
        width: max-content;
        #header-nav__logo {
          width: 80px;
        }
      }
      .header-nav__list {
        display: flex;
        gap: 3rem;
        list-style: none;

        .header-nav__item {
          position: relative;
          &:hover {
            &::before {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #3b3b3f;
              border-radius: 100%;
              position: absolute;
              bottom: -2px;
              animation-name: o;
              animation-duration: 0.2s;
              animation-fill-mode: forwards;
              transition: 1s;
              @keyframes o {
                0% {
                  transform: translateX(-100px);
                  opacity: 0;
                }

                100% {
                  transform: translateX(0);
                }
              }
            }
          }

          .header-nav__link {
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
    }
  }

  .overflow-button {
    width: 100%;
    position: relative;

    .button-next__content {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 2px;
      right: -50px;
      top: 50%;
      bottom: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-shadow: 0 0 10px 1px #d1d1d1b4;
      z-index: 1;
      .button-next {
        width: 100%;
      }
    }

    .traslate-left {
      animation-name: toto;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      @keyframes toto {
        10% {
          transform: scale(0.9);
        }

        100% {
          transform: translateX(-1000px) scale(0.9);
        }
      }
    }

    .traslate-right {
      transform: translateX(1900px) scale(0.9);
      animation-name: coso;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;

      @keyframes coso {
        10% {
          transform: none scale(0.9);
        }

        50% {
          transform: scale(0.9);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    .main {
      display: flex;
      border-radius: 10px;
      box-shadow: 0 0 5px 4px #e7e7e7ad;
      overflow: hidden;

      .picture {
        min-width: 480px;
        height: 480px;

        .picture-image {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }

      .product-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;

        .product-title {
          font-size: 2em;
          text-wrap: nowrap;
        }

        .product-info__content {
          display: flex;
          align-items: center;
          height: 120px;
          padding: 8px;
          border-radius: 10px;
          box-shadow: 0 0 8px 3px #e7e7e77a;
          .product-info__text {
            text-wrap: wrap;
            color: #000;
            user-select: none;
          }
        }

        .color-container {
          .color-title {
            margin-bottom: 10px;
          }
          .color-list {
            .color-list__form {
              margin-left: 10px;
              display: flex;
              gap: 43px;
              list-style: none;
              .color-form__item {
                .color-list__select {
                  width: 25px;
                  height: 25px;
                  appearance: none;
                  border-radius: 100%;
                  cursor: pointer;
                  &:checked {
                    border: 1px solid #000;
                  }
                }
                #red {
                  background-color: #f00;
                }
                #yellow {
                  background-color: #ff0;
                }
                #blue {
                  background-color: #00f;
                }
                #green {
                  background-color: #080;
                }
                #black {
                  background-color: #000;
                }
              }
            }
          }
        }

        .size-container {
          width: 100%;
          .size-title {
            margin-bottom: 10px;
          }
          .size-list {
            margin-left: 4px;
            display: flex;
            gap: 17px;
            list-style: none;

            .size-list__form {
              display: flex;
              gap: 30px;
              list-style: none;
              .size-form__item {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: 0.2s;
                border-radius: 10px;

                &:hover {
                  transform: scale(1.1);
                  background-color: #f0f0f0;
                }
                .size-list__label {
                  position: absolute;
                  font-weight: 500;
                  cursor: pointer;
                  user-select: none;
                }
                .size-list__select {
                  cursor: pointer;
                  appearance: none;
                  width: 38px;
                  height: 26px;
                  box-shadow: 0 0 5px 2px #e0e0e0;
                  border-radius: 10px;

                  &:checked {
                    border: 2px solid #7e7e7e;
                  }
                }
              }
            }
          }
        }

        .buys-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .buys-add__content {
            #buys-add {
              all: unset;
              display: block;
              padding: 10px 40px;
              background-color: rgb(34, 34, 255);
              border-radius: 10px;
              font-size: 1.3em;
              text-decoration: none;
              color: #fff;
              cursor: pointer;
            }
          }

          .buys-price__content {
            .buys-price {
              font-size: 2.3em;
              user-select: none;
            }
          }
        }
      }
    }
  }

  #footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 20px;

    .footer-contact__container {
      .footer-contact__item {
        color: #b1b1b1;
        list-style: none;

        .footer-contact__link {
          color: #b1b1b1;
          text-decoration: none;
        }
      }
    }

    .footer-networks__container {
      .footer-networks__list {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;

        .footer-networks__item {
          transition: 0.2s;
          &:hover {
            transform: scale(1.1);
          }
          .footer-networks__link {
            color: #b1b1b1;
            text-decoration: none;

            .fa-brands {
              display: block;
              color: #b1b1b1;
            }

            .fa-instagram {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
